*{
    margin: 0;
}

.cta{
    width:316px;
    height: 80px;
    border-radius: 50px;
    background-color: #F33535;
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    border: 0px;
    cursor: pointer;
}





.cardSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.cardCont{
    display: flex;
    flex-direction: row;
    margin: 20px 200px;
}

.cardTitle{
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    font-weight: 100;
    line-height: 60px;
    margin-bottom: 50px;
}

.card1Cont{
    border: solid 1px #e5e5e5;
    border-radius: 20px;
    width: 350px;
    height: auto;
    margin: 0px 30px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
}

.card1Img{
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.card1Title{
    font-family: "Public Sans", sans-serif;
    font-size: 28px;
    font-weight: 500;
    padding: 0px 0px 0px 20px;
}

.card1P{
    padding: 0px 20px 20px 20px;
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
    font-weight: 100;
}

@media (max-width: 500px) {

    .cardCont{
        flex-direction: column;
    }
    
    .cardTitle{
        font-size: 50px;
        line-height: 50px;
        text-align: center;
        width: 80%;
        margin-bottom: 0px;
    }

    .card1Cont{
        margin: 20px 0px;
    }   

    .card1P{
        font-size: 16px;
    }
}





.formSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.formTitle{
    width: 800px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    font-weight: 100;
    line-height: 60px;
}   

.formSubtitle{
    margin: 40px 0px 60px 0px;
    width: 600px;
    text-align: center;
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.formCont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formInput{
    width: 600px;
    border: solid 1px #e5e5e5;
    border-radius: 50px;
    padding: 15px;
    font-family: "Public Sans", sans-serif;
    font-size: 16px;
    margin: 10px 0px;
}

.formBtn{
    width: 300px;
    background-color: #F33535;
    color: #ffffff;
    padding: 10px;
    border-radius: 50px;
    border: 0px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
    font-weight: 100;
    margin-top: 20px;
}

.formBtn:hover{
    cursor: pointer;
}

@media (max-width:500px) {
    .formTitle{
        font-size: 40px;
        width: 80%;
        line-height: 40px;
    }

    .formSubtitle{
        font-size: 20px;
        width: 90%;
    }

    .formCont{
        width: 80%;
    }

    .formInput{
        width: 100%;
    }
}





footer{
    background-color: #797979;
    margin-top: 100px;
    height: 240px;
}

.footerCont{
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    justify-content: space-between;
    margin: 0 50px;
}

.footerLogo{
    width: 200px;
    height: 100%;
}


.footerIcon{
    width: 50px;
    height: auto;
}

.footer2{
    background-color: #000000;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer2P{
    color: #ffffff; 
    font-family: "Public Sans", sans-serif;
    font-weight: 100;
}

@media (max-width:500px) {
    footer{
        height: 200px;
    }

    .footerCont{
        padding-top: 120px;
        margin: 0px 10px;
    }

    .footerLogo{
        width: 150px;
    }
    .footerIcon{
        width: 40px;
        height: auto;
    }
}






.gamechatCont{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gamechatTitle{
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    font-weight: 100;
}

.gamechatImg{
    margin: 10px auto;
    width: 1200px;
    height: auto;
}

.gamechatCont2{
    display: grid;
    margin: 10px 200px;
    grid-template-columns: 600px 600px;
    grid-template-rows: 90px 100px 342px 120px;
}

.gamechatSubtitle{
    font-family: "Public Sans", sans-serif;
    font-size: 28px;
    font-weight: 500;
    grid-column-start: 1;
    grid-row-start: 1;
}

.gamechatP{
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
    font-weight: 100;
    grid-column-start: 1;
    grid-row-start: 2;
}

.gamechatP2{
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
    font-weight: 100;
    grid-column-start: 1;
    grid-row-start: 4;
    margin-top: 10px;
}

.gamechatImg1{
    grid-column-start: 1;
    grid-row-start: 3;
    place-self: center;
}

.gamechatImg2{
    grid-area: 1 / 2 / 5 / 3 ;
    padding: 50px 0px;
}


@media (max-width: 500px){

    .gamechatTitle{
        font-size: 40px;
    }

    .gamechatImg{
        margin: 10px auto;
        width: 90%;
        height: auto;
    }

    .gamechatCont2{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .gamechatSubtitle{
        font-size: 20px;
        margin: 10px 0px;
    }

    .gamechatP{
        font-size: 16px;
    }

    .gamechatImg1{
        margin: 20px 0px;
        width: 100%;
    }

    .gamechatP2{
        margin-top: 0px;
    } 

    .gamechatImg2{
        padding: 15px;
    }

}






.heroContainer{
    margin: 50px 200px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    grid-row-gap: 10px;
    margin-bottom: 180px;
    margin-top: 100px;
}

.heroTitle{
    font-family: "Bebas Neue", sans-serif;
    font-size: 100px;
    font-weight: 100;
    line-height: 100px;
    min-width: 760px;
    grid-column-start: 1;
    grid-column-end: 2  ;
    grid-row-start: 1;
    
}

.heroSubtitle{
    font-family: "Public Sans", sans-serif;
    font-size: 26px;
    font-weight: 100;
    max-width: 680px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
}

.heroBtn{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    margin-top: 50px;
}

.heroImg{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 5;    

}



@media (max-width: 500px) {

    .heroContainer{
        margin: auto;
        grid-template-columns: 400px;
        grid-template-rows: repeat(4, auto);
        justify-content: center;
        margin-bottom: 80px;
    }



    .heroTitle{
        font-size: 54px;
        min-width: 0px;
        max-width: 400px;
        line-height: 50px;
    }

    .heroSubtitle{
        grid-row-start: 2;
        font-size: 18px;
        width: 360px;
    }

    .heroImg{
        grid-column-start: 1;
        grid-row-start: 3;
        grid-row-end: 4;
        width: 100%;
        height: auto;
        place-self: center;
    }

    .heroBtn{
        grid-row-start: 4;
        place-self: center;
    }

    .cta{
        font-size: 24px;
        width: 205px;
        height: auto;
        padding: 12px;
    }
    
}






.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoP1{
    margin: 80px 300px;
    display: grid;
    grid-template-columns: auto, auto;   
    grid-template-rows: 120px 200px;
    grid-column-gap: 10px;
}

.infoP1title{
    display: flex;
    grid-column-start: 2;
    grid-row-start: 1;
    width: 500px;
    height: auto;
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    font-weight: 100;
    line-height: 60px;
}


.infoP1text{
    grid-column-start: 2;
    grid-row-start: 2;
    width: 500px;
    max-height: 150px;
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.infoP1img{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    place-self: stretch;
    max-width: 600px;
}

.infoP2{
    margin: 50px 300px;
    display: grid;
    grid-template-columns: auto, auto;   
    grid-template-rows: 120px 200px;
    grid-column-gap: 10px;
}

.infoP2title{
    display: flex;
    grid-column-start: 1;
    grid-row-start: 1;
    width: 500px;
    height: auto;
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    font-weight: 100;
    line-height: 60px;
}

.infoP2text{
    grid-column-start: 1;
    grid-row-start: 2;
    width: 500px;
    max-height: 150px;
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.infoP2img{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    place-self: stretch;
    max-width: 600px;  
    border: solid 5px #000000;

}

@media (max-width: 500px){

    .infoP1{
        margin: 50px 50px;
        grid-template-columns: 400px;
        grid-template-rows: repeat(3, auto);
    }

    .infoP1img{
        grid-column-start: 1;  
        grid-row-start: 2;
        width: 100%;
        margin-top: 20px;
    }
    
    .infoP1title{
        grid-column-start: 1;
        grid-row-start: 1;
        font-size: 40px;
        width: 100%;
        line-height: 40px;
        text-align: center;
    }

    .infoP1text{
        grid-column-start: 1;
        grid-row-start: 3;
        font-size: 16px;
        width: 100%;
        margin-top: 20px;
    }
    .infoP2{
        grid-template-columns: 400px;
        grid-template-rows: repeat(3, auto);
    }

    .infoP2img{
        grid-column-start: 1;  
        grid-row-start: 2;
        max-width: 100%;
        height: auto;
        margin-top: 20px;
    }
    
    .infoP2title{
        grid-column-start: 1;
        grid-row-start: 1;
        font-size: 40px;
        width: 100%;
        line-height: 40px;
        text-align: center;
    }

    .infoP2text{
        grid-column-start: 1;
        grid-row-start: 3;
        font-size: 16px;
        width: 100%;
        margin-top: 20px;
    }

}






.navimg{
    margin-top: 40px;
    margin-left: 24px;
    margin-bottom: 100px;
    width: 200px;
    height: auto;
}

@media (max-width: 500px) {
    .navimg{
        width: 150px;
        margin: 25px 0px 0px 20px;
    }
    
    nav{
        height: 100px;
    }

}




#modal::backdrop{
    background-color: rgb(101 101 101 / 0.86);
}

#modal{
    margin: auto;
    border: 0px;
    border-radius: 20px;
    max-width: 80%;
    height: 600px;

}

.modalCont{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    max-width: 90%;
    height: auto;
}

.modalBtnCerrar{
    width: 50px;
    height: 50px;
    border: 0px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #F33535;
    align-self: flex-end;
    font-size: 32px;
}

.modalBtnCerrar:hover{
    cursor: pointer;
}

.modalTitle{
    padding: 20px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    font-weight: 100;
    line-height: 60px;
}

.modalSubtitle{
    padding: 20px;
    text-align: center;
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.modalForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.modalInput{
    width: 350px;
    border: solid 1px #e5e5e5;
    border-radius: 50px;
    margin: 10px;
    padding: 15px;
    font-family: "Public Sans", sans-serif;
    font-size: 16px;
}


.modalBtn{
    border: 0px;
    border-radius: 50px;
    padding: 10px;
    width: 200px;
    color: #ffffff;
    background-color: #F33535;
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
    font-weight: 100;
    margin-top: 20px;
}

.modalBtn:hover{
    cursor: pointer;
}




#respuesta::backdrop{
    background-color: rgb(101 101 101 / 0.86);
}

#respuesta{
    margin: auto;
    border: 0px;
    border-radius: 20px;
    max-width: 80%;
    height: 600px;

}

.respuesta{
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 500px;
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
}

.respuestaTitle{
    padding: 10px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    font-weight: 100;
    line-height: 60px;
}

.respuestaP{
        padding: 20px;
    text-align: center;
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.respuestaImg{
    width: 270px;
    height: 270px;
    transform: scale(0.2);
}




@media (max-width:500px) {
    #modal{
        margin: auto;
        max-width: 80%;

    }

    .modalCont{
        width: 100%;
    }

    .modalTitle{
        font-size: 40px;
        line-height: 40px;
        padding: 5px;
        margin-top: 40px;
    }

    .modalSubtitle{
        padding: 20px 0px;
    }

    .modalInput{
        max-width: 80%;
    }
}






.parrafo{
    font-family: "Public Sans", sans-serif;
    font-size: 16px;
    font-weight: 100;
}



.sliderCont{
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
    margin-top: 120px;
}

.sliderTrack{
    display: flex;
    width: calc(33.3vw * 8);
    animation: scroll 30s linear infinite;
}

.slide{
    flex: 0 0 33.33vw;
    height: 400px;
    margin: 0;
    overflow: hidden;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-133.32vw);
    }
}


@media (max-width:500px) {

    .sliderCont{
        display: none;
    }
}




.subtitulo1{
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.subtitulo2{
    font-family: "Public Sans", sans-serif;
    font-size: 28px;
    font-weight: 500;
}

.titulo1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 100px;
    font-weight: 100;
    line-height: 100px;
}

.titulo2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    font-weight: 100;
    line-height: 60px;
}

.titulo3{
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    font-weight: 100;
}
